@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

body {
  background: black;
  color: white;
}

.flex, .flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.spread {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

.main {
  width: 325px;
  height: 100vh;
  padding: 125px 0;
  box-sizing: border-box;
}

.main div {
  text-align: start;
  width: 300px;
}

.logo {
  height: 15rem;
  margin: 20px;
}

h1 {
  margin: 0;
  font-size: 2.95rem;
  font-family: 'Montserrat Alternates', sans-serif;
}

button {
  font-size: 1.5rem;
  padding: 4px 50px;
  border: solid white;
  border-radius: 22px;
  background: white;
  width: 300px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

button i {
  font-size: 2.5rem;
  padding-right: 15px;
}

button:hover {
  cursor: pointer;
  background: none;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 600px) {  
  button {
    color: white;
    background: none;
  }
}