@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap");

body {
  background: black;
  background-image: url('../assets/pins.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.flex, .flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.page {
  max-width: 500px;
  min-height: calc(100vh - 50px);
}

.container {
  background: rgba(128, 145, 165, 0.9);
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  box-sizing: border-box;

  h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
}

.post {
  width: 100vw;
  background: white;
  padding: 20px;
  text-align: justify;
  max-width: 800px;
  min-height: 400px;
  margin: 0 auto;
  margin-bottom: 50px;
  box-sizing: border-box;

  figure {
    width: 100%;
    margin: 0 auto;
  }

  img {
    width: 100%;
  }

  h2 {
    font-family: "Fredoka", sans-serif;
  }

  p {
    margin-bottom: 1rem;
  }
}

.tall {
  min-height: 100vh;
}

.preview-container {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.post-preview {
  height: 200px;
  width: calc(100vw - 20px);
  box-sizing: border-box;
  margin: 5px;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  overflow: hidden;
  text-align: left;

  .preview-text {
    padding: 10px;
  }

  h2 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1.25rem;
  }

  img {
    width: 175px;
    height: 100%;
    object-fit: cover;
  }
}

.code {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background:rgba(128, 145, 165, .25);
  padding: 5px;
  font-size: .8rem;
}

.logo-spin {
  height: 75vw;
  max-height: 350px;
  margin-bottom: 100px;
}

@media (min-width: 600px) {
  .container {
    padding-top: 100px;
  }

  .post {
    border-radius: 25px;
    padding: 50px;

    figure {
      float: right;
      width: 50%;
      margin: 0 0 calc(25px - 1rem) 25px;
      text-align: center;
    }
  }

  .post-preview {
    width: 250px;
    margin: 5px;
    overflow: hidden;
    color: white;

    .preview-text {
      position: absolute;
      width: 250px;
      z-index: 10;
      box-sizing: border-box;
    }

    img {
      width: 50%;
      height: 100%;
      object-fit: cover;
      width: 250px;
      opacity: 0.5;
      z-index: 5;
    }

    h2 {
      font-size: 1.75rem;
    }

    h2,
    p {
      text-shadow: 2px 2px 2px black;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer;

      img {
        transform: scale(1.05);
        opacity: 0.8;
      }
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo-spin {
    animation: App-logo-spin infinite 20s linear;
  }
}
