@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

$secondary: rgb(128, 145, 165);

body {
  background: black;
}

.flex, .flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

header {
  background: black;
  color: white;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  align-items: center;
  padding: 0 50px;
  z-index: 20;

  i {
    position: absolute;
    right: 35px;
    font-size: 1.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  nav {
    position: fixed;
    top: 50px;
    height: calc(100vh - 50px);
    width: 100%;
    background: black;
    border-top: solid white;

    div {
      p {
        margin-bottom: 50px;
      }
    }

    .links {
      padding-bottom: 100px;
    }

    h2 {
      font-family: 'Fredoka', sans-serif;
    }

    a {
      font-size: 1rem;
      margin: 0 4.5px;
      background: black;
      padding: 15px;
      height: 35px;
      width: 37px;
      border-radius: 50%;
      box-sizing: border-box;
      background: white;
      color: black;

      i {
        position: relative;
        left: 0;
      }
  
      &:hover {
        color: $secondary;
      }
    }
  }
  
  h2 {
    font-family: 'Montserrat Alternates', sans-serif;
  }
}

main {
  min-height: 100vh;
  width: 100%;
  background-image: url('../assets/pins.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.splash {
  margin-top: 50px;
  box-sizing: border-box;
  height: calc(100vh);
  background: rgba(128, 145, 165, .9);
}

.logo-spin {
  height: 75vw;
  max-height: 350px;
}

h1, h2, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.words {
  margin: 0 25px 25px 50px;
  text-align: center;
  max-width: 500px;

  h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo-spin {
    animation: App-logo-spin infinite 20s linear;
  }
}