@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

$primary: black;
$secondary: rgb(106, 114, 130);
$alt-text: white;

body {
  background: $primary;
}

.flex, .flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

header {
  background: $primary;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  align-items: center;
  padding: 0 50px;
  color: $alt-text;
  
  h2 {
    font-family: 'Montserrat Alternates', sans-serif;
  }

  i {
    position: absolute;
    right: 50px;
  }
}

footer {
  background: rgb(106, 114, 130);
  background: $secondary;
  height: 100px;
  width: 100%;
  position: fixed; 
  bottom: 0;

  a {
    font-size: 1.5rem;
    margin: 0 4.5px;
    background: $primary;
    color: $alt-text;
    padding: 15px;
    height: 45px;
    width: 47px;
    border-radius: 50%;
    box-sizing: border-box;
  }
}

.main {
  width: 100%;
  height: calc(100vh - 150px);
  box-sizing: border-box;
  background: white;
  margin-top: 50px;
}

.logo-spin {
  height: 75vw;
  max-height: 350px;
}

h1, h2 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo-spin {
    animation: App-logo-spin infinite 20s linear;
  }
}