@media (max-width: 600px) {  
    img {
      height: 50px;
    }

    .spread {
        justify-content: center;
    }
  
    .logo {
      margin: 0;
    }
  
    .panel {
      padding: 45px;
      box-shadow: 1px 1px 1px 3px black;
    }

    nav {
        font-size: 1rem;
    }

    .web {
        display: none;
    }

    .mobile {
        display: block;
    }
  }