@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

$secondary: rgb(128, 145, 165);

.post-page {
    width: 100vw;
    background: white;
    padding: 50px 0;
    text-align: justify;
    max-width: 800px;
    min-height: 400px;
    
    img {
        width: 100%;
    }
    
    .text {
        padding: 25px;
    }

    h1 {
        font-family: 'Fredoka', sans-serif;
        margin-bottom: .5rem;
    }

    h2 {
        font-family: 'Fredoka', sans-serif;
        font-size: 1.25rem;
        margin-top: 1rem;
    }

    p {
        margin-bottom: .5rem;
    }

    a {
        color: $secondary;
    }
}

figure {
    margin: 0;
}

figcaption {
    font-style: italic;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background:rgba(128, 145, 165, .5);
    padding: 1px 5px;
}

@media (min-width: 600px){
    .post-page {
        margin: 100px auto;
        margin-bottom: 150px;
        border-radius: 25px;
        
        figure {
            margin: 25px;
            float: right;
            max-width: 400px;
        }
        
        a:hover {
            text-decoration: underline;
        }
    }

}