@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.App {
  text-align: center;
}

body {
  background: gray;
}

.flex, .flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

header {
  padding: 65px;
  border-radius: 75px;
  background: white;
  box-shadow: 2px 2px 2px 7px black;
}

.logo {
  height: 35vmin;
  margin: 25px;
  margin-left: 0;
}

.logo:hover {
  transform: scale(1.2);
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 7rem;
  font-family: 'Shadows Into Light', cursive;
}

.bracket {
  font-size: 12rem;
  font-family: 'Arial Narrow', Arial, sans-serif;
  /* font-family: 'Shadows Into Light', cursive; */
  font-family: 'Special Elite', cursive;
  color: hotpink;
}

button {
  font-family: monospace;
  background: hotpink;
  font-size: 2rem;
  border-radius: 50px;
  padding: 10px 15px;
  width: 300px;
}

button:hover {
  background: gray;
  cursor: pointer;
}

@media (max-width: 600px) {
  .flex {
    flex-direction: column;
  }

  img {
    height: 50px;
  }

  .logo {
    margin: 0;
  }

  header {
    padding: 60px;
    height: 50vh;
    width: 60vw;
  }

  h2 {
    font-size: 5rem;
  }

  button {
    width: 200px;
    font-size: 2rem;
  }
}