@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

.App {
  text-align: center;
}

body {
  background-color: black;
  color: white;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  margin-top: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 5rem;
  font-family: 'Comfortaa', cursive;
}

h2 {
  font-size: 3rem;
  font-family: 'Comfortaa', cursive;
}

.bracket {
  font-size: 10rem;
  font-family: monospace;
}